trunk/02_businessLayer/WorkFlowBLL/Service References/ServiceUpload/WcfServiceAPI.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Go.Image.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Go.Image.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://117.103.196.16:8088/WcfServiceAPI?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Image">
    <xs:sequence>
      <xs:element name="_albumId" type="xs:long" />
      <xs:element name="_colorDeep" type="xs:int" />
      <xs:element name="_commentType" type="xs:unsignedByte" />
      <xs:element name="_comments" type="xs:long" />
      <xs:element name="_createdDate" type="xs:dateTime" />
      <xs:element name="_description" nillable="true" type="xs:string" />
      <xs:element name="_filePath" nillable="true" type="xs:string" />
      <xs:element name="_fileSize" type="xs:long" />
      <xs:element name="_fileType" nillable="true" type="xs:string" />
      <xs:element name="_height" type="xs:int" />
      <xs:element name="_hits" type="xs:long" />
      <xs:element name="_imageId" type="xs:long" />
      <xs:element name="_modifiedDate" type="xs:dateTime" />
      <xs:element name="_ordinalInAlbum" type="xs:int" />
      <xs:element name="_originalName" nillable="true" type="xs:string" />
      <xs:element name="_publicUrl" nillable="true" type="xs:string" />
      <xs:element name="_rateType" type="xs:unsignedByte" />
      <xs:element name="_rates" type="xs:long" />
      <xs:element name="_serverName" nillable="true" type="xs:string" />
      <xs:element name="_status" type="xs:int" />
      <xs:element name="_tagType" type="xs:unsignedByte" />
      <xs:element name="_tags" nillable="true" type="xs:string" />
      <xs:element name="_width" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_x003C_ExtendedProperties_x003E_k__BackingField" nillable="true" type="q1:ArrayOfKeyValueOfstringanyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Image" nillable="true" type="tns:Image" />
</xs:schema>